<h4 class="text-center text-secondary" style="margin-top: 50px;margin-bottom: 50px;">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</h4>
<div class="row">
    <div class="col-md-6 px-4">
        <h4>Get to know me!</h4>
        <p class="text-secondary fs-4">I'm a Full Stack Developer building the Front-end of website and Back-end of Website and Web Applications that leads to the success of the overall product. Check out some of my work in the Projects section.</p>
        <hr>
        <p class="text-secondary fs-4">I also like sharing content related to the stuff that I have learned over the years in Web Development so it can help other people of the Dev Community. Feel free to Connect or Follow me on my <a href="https://www.linkedin.com/in/alper-a-045b41a4/" target="_blank">Linkedin</a> where I post useful content related to Web Development and Programming</p>
    </div>
    <div class="col-md-6 px-4">
        <h4>Skills</h4>
        <span *ngFor="let skill of skills" class="badge rounded-pill bg-secondary mx-2 mt-2 fs-4">{{skill.language}}</span>        
    </div>
</div>