<h1 class="text-center primary" style="margin-top:200px;">HEY, I'M ALPER ALANYALI</h1>
<p class="primary-text">A Fullstack contributed to front-end and back-end development processes</p>
<div class="row">
    <div class="col-md-6">
        <div class="btn-container">
            <a class="button" routerLink="/projects">projects</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-container">
            <a class="button" routerLink="/about">About & Skills</a>
        </div>
    </div>
</div>