<div class="container">
    <form #getForecast="ngForm" (ngSubmit)="getData(getForecast)" >
    <div class="row mt-5">
      <div class="col-lg-8">
        <label for="city">City</label>
        <input type="text" placeholder="Enter a city" #city name="city" ngModel class="form-control">
      </div>
      <div class="col-lg-2">
        <label for="days">Days</label>
          <select #days name="days" class="form-control"  ngModel>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
          </select>
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-outline-primary h-100">Search</button>
      </div>
    </div>
  </form>
  <div>
    <div class="card mt-4 p-4 invisible" id="currentWeather">
      <div class="row">
          <div class="col-md-4">
            <label for="">City</label>
            <p>{{weatherResponse.location.name}}</p>
          </div>
          <div class="col-md-4">
            <label for="">Country</label>
            <p>{{weatherResponse.location.country}}</p>
          </div>
          <div class="col-md-4">
            <label for="">Time zone</label>
            <p>{{weatherResponse.location.tz_id}}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <label for="">Feels Like C</label>
            <p>{{weatherResponse.current.feelslike_c}}</p>
          </div>
          <div class="col-md-4">
            <label for="">Humidity</label>
            <p>{{weatherResponse.current.humidity}}%</p>
          </div>
          <div class="col-md-4">
            
            <label for="">{{weatherResponse.current.condition.text}}</label>
            <img src="{{weatherResponse.current.condition.icon}}" style="width: 50px;">
          </div>
      </div>
    </div>
 
    <div *ngFor="let days of weatherResponse.forecast.forecastday"  id="forecast" class="card mt-4">
      <label class="text-muted p-2">Average </label>
        <div class="row mb-4 p-4">
          <div class="col-lg-3">
            <label class="text-muted">Date</label>
            <p>{{days.date}}</p>
          </div>
          <div class="col-lg-3">
            <label class="text-muted">Average Tempareture in Celcius</label>
            <p>{{days.day.avgtemp_c}}</p>
        </div>
        <div class="col-lg-3">
          <label class="text-muted">Minimum Tempareture in Celcius</label>
          <p>{{days.day.mintemp_c}}</p>
        </div>
        <div class="col-lg-3">
          <label class="text-muted">Maximum Tempareture in Celcius</label>
          <p>{{days.day.maxtemp_c}}</p>
        </div>
        <hr>
        <label>Forecast in hours</label>
        <div class="row mb-4 p-4">
          <div *ngFor="let hour of days.hour"  class="col-lg-3">
            <p>{{hour.time}}</p>
            <img src="{{hour.condition.icon}}" style="width: 100px;">
            <p>{{hour.condition.text}}</p>
            <p>{{hour.cloud}}</p>
            <p>{{hour.temp_c}}</p>
            <p>{{hour.wind_dir}}</p>
            <p>{{hour.wind_kph}}</p>
            <hr>
          </div>
      </div>
    </div>
 
  </div>
  </div>